"*":
  "atom-beautify":
    _general: {}
    apex: {}
    arduino: {}
    c: {}
    cfml: {}
    cpp: {}
    cs: {}
    css: {}
    d: {}
    fortran: {}
    general:
      _analyticsUserId: "c96971fd-e344-4289-a037-437c2495f639"
    gherkin: {}
    html: {}
    java: {}
    js: {}
    objectivec: {}
    pawn: {}
    perl: {}
    php: {}
    python: {}
    ruby: {}
    rust: {}
    sql: {}
    vala: {}
  "atom-material-ui":
    tabs:
      compactTabs: true
    treeView:
      compactList: true
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "atom-ternjs"
      "file-icons"
      "wrap-guide"
    ]
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    projectHome: "/Users/deenoize/Sites"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    preferredLineLength: 100
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "f26b7a03-81fb-9d6b-09bc-c217b28f08d7"
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "sync-settings":
    _analyticsUserId: "d49cd5f1-f192-48f0-b7b2-212c1a4e036b"
    _lastBackupHash: "97c8e917ee6696c916d66e9754fa49c4b8a9f91b"
    gistId: "eb47997f491ea81c1bdb"
    personalAccessToken: "b7846d6b0272d37f58621841db25008dbf6e25e0"
  "terminal-plus":
    core:
      mapTerminalsTo: "Folder"
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  "wakatime-hidden":
    lastInit: 1473521261
  welcome:
    showOnStartup: false
